.accordion {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: auto;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-family: sans-serif, Arial;
  font-weight: bold;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-family: sans-serif, Arial;
}

.accordion.active .accordion-content {
  max-height: 500px; /* adjust as needed */
}

.accordion.active .arrow {
  transform: rotate(180deg);
}

h1 {
    font-family: sans-serif, Arial;
}

h2 {
    font-family: sans-serif, Arial;
}